attrs==19.3.0
bravado-core==5.13.2
certifi==2019.9.11
chardet==3.0.4
clinner==1.12.3
colorlog==4.0.2
Django==2.2.10
djangorestframework==3.10.2
git+https://github.com/RockefellerArchiveCenter/asterism@v0.1#egg=asterism
gitdb2==2.0.6
GitPython==3.0.4
health-check==3.4.1
idna==2.7
jsonpointer==2.0
jsonref==0.2
jsonschema==3.1.1
msgpack-python==0.5.6
multidict==4.5.2
psycopg2-binary==2.7.4
pyrsistent==0.15.5
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rfc3987==1.3.8
simplejson==3.16.0
six==1.12.0
smmap2==2.0.5
strict-rfc3339==0.7
swagger-spec-validator==2.4.3
uritemplate==3.0.0
urllib3==1.25.6
vcrpy==2.1.0
webcolors==1.10
wrapt==1.11.2
yarl==1.3.0
