<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ursa Major</title>
    <p> This is the Bag Store! POST your accession data to this endpoint with the bags in the landing directory
        to have them enter the bag repository.
    </p>

      <pre class style="float:right;">
                /  \.-"""-./  \
                \  _ -   - _  /
                 | _ o   o _ |
                 \  .-'''-.  /
                  '-\__Y__/-'
                     `---`
    </pre>

</head>
<body>
</body>
</html>
