DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'ursa-major-db',
        'PORT': 5432,
    }
}

ALLOWED_HOSTS = ['localhost', 'ursa-major-web']

BASE_DIR = ''
SRC_DIR = '{}/src'.format(BASE_DIR)
TMP_DIR = '{}/tmp'.format(BASE_DIR)
DEST_DIR = '{}/dest'.format(BASE_DIR)
TEST_SRC_DIR = '{}/src_test'.format(BASE_DIR)
TEST_TMP_DIR = '{}/tmp_test'.format(BASE_DIR)
TEST_DEST_DIR = '{}/dest_test'.format(BASE_DIR)
SCHEMA_URL = 'http://aurora.rockarch.org/api/schema.json'

STATIC_ROOT = '/static'
