DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'ursa-major-db',
        'PORT': 5432,
    }
}

ALLOWED_HOSTS = ['localhost', 'ursa-major-web']

BASE_DIR = ''
SRC_DIR = '{}/src'.format(BASE_DIR)
TMP_DIR = '{}/tmp'.format(BASE_DIR)
DEST_DIR = '{}/dest'.format(BASE_DIR)

DELIVERY_URL = 'http://fornax-web:8003/sips/'

STATIC_ROOT = '/static'
