DJANGO_DEBUG = True # run Django in debug mode, which outputs stack traces to the UI, set to False for production (boolean)
DJANGO_SECRET_KEY = "&0-xb06z0kd7m%dic^wn9wdgft&yqdb_m)3uq54p+r%=5l!k$q" # used by Django to create hashes (string)
DJANGO_ALLOWED_HOSTS = ["localhost", "ursa-major-web"] # hosts ursa major will respond to (list of strings)

SQL_ENGINE = "django.db.backends.postgresql"  # the database engine used by ursa major (string, one of django.db.backends)
SQL_DATABASE = "postgres"  # name of the application database (string)
SQL_USER = "postgres"  # name of the application database user (string)
SQL_PASSWORD = "postgres"  # password for the application database (string)
SQL_HOST = "ursa-major-db"  # host for the application database (string)
SQL_PORT = 5432  # port on which the application database can be reached (integer)

STORAGE_ROOT = "/"  # absolute path to root of attached file storage (string)
STORAGE_SRC_DIR = "{}/src".format(STORAGE_ROOT)  # source directory for transfers, relative to storage root (string)
STORAGE_TMP_DIR = "{}/tmp".format(STORAGE_ROOT)  # temporary directory for transfers, relative to storage root (string)
STORAGE_DEST_DIR = "{}/dest".format(STORAGE_ROOT)  # destination directory for transfers, relative to storage root (string)
DERIVATIVE_CREATION_DIR = "/pictor/src"  # source directory for derivatives (string)

DELIVERY_URL = 'http://localhost:8003/sips/' # URL for package delivery in the next service (string)
DERIVATIVE_DELIVERY_URL = 'http://localhost:8012/bags/' # URL for derivative package delivery (string)