<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discovery</title>
    <p> This is the Discovery page! POST your bags to this endpoint to have them enter the beautiful bag repository! Alternatively, enter an endpoint to have that bag stored. </p>

    <form action="#" method="GET">
        Endpoint URL :<br>
            <input type="text" name="endpoint">
        <br>
            <input type="submit" class="button" name="urlButton" value="Store">
    </form>

      <pre class style="float:right; margin-top: -70px;">
                /  \.-"""-./  \
                \  _ -   - _  /
                 | _ o   o _ |
                 \  .-'''-.  /
                  '-\__Y__/-'
                     `---`
    </pre>


</head>
<body>

</body>
</html>